/.vagrant/
/site/
/.user_settings.yaml
/.bundle/
/utils/docker/puppetunit/Dockerfile
/utils/docker/puppetunit/Gemfile
/puppet/
/.puppetdeveldevel
/bin/
/.rake_t_cache
/control-repo/
/hiera-data/
/modules/*
